a<div th:fragment="sidebar" class="sidebar bg-light sticky-top px-2">
    <div class="d-flex flex-column align-items-center py-3 h-100">
        <a href="/" class="d-block p-2 link-dark text-decoration-none" title="Trang chủ" data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="bi-bootstrap fs-4"></i>
        </a>
        <ul class="nav nav-pills nav-flush flex-column text-center w-100 align-items-center">
            <li class="nav-item">
                <a href="#" class="nav-link py-3 px-2" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi-house fs-4"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 px-2" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi-speedometer2 fs-4"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 px-2" title="Orders" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi-table fs-4"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 px-2" title="Products" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi-heart fs-4"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 px-2" title="Customers" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi-people fs-4"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 px-2" title="Profile" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi-person-circle fs-4"></i>
                </a>
            </li>
            <li>
                <a href="/gomap/admin/dashboard/logout" class="nav-link py-3 px-2" title="Logout" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi-box-arrow-right fs-4"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
