<div class="tab-pane" id="statistical" role="tabpanel" th:fragment="statistical-tab">
    <h3>Quản Lý Thống Kê</h3>
    <div class="row g-3">
        <!-- Biểu đồ 1 -->
        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-header text-center p-2">Top 5 tuyến xe yêu thích</div>
                <div class="card-body p-2">
                    <canvas id="top5RouteFavorite"></canvas>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-header text-center p-2">Thống kê phương tiện</div>
                <div class="card-body p-2">
                    <canvas id="vehicleStatusChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-header text-center p-2">Phản ánh giao thông</div>
                <div class="card-body p-2">
                    <canvas id="trafficReportChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-header text-center p-2">Biểu đồ khác</div>
                <div class="card-body p-2">
                    <canvas id="otherChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

