<div th:fragment="tab-links">
    <ul class="nav nav-tabs" id="adminTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="users-tab" data-bs-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Người dùng</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="notifications-tab" data-bs-toggle="tab" href="#notifications" role="tab" aria-controls="notifications" aria-selected="false">Thông báo</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="user-notifications-tab" data-bs-toggle="tab" href="#user-notifications" role="tab" aria-controls="user-notifications" aria-selected="false">Người dùng - Thông báo</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="favorite-routes-tab" data-bs-toggle="tab" href="#favorite-routes" role="tab" aria-controls="favorite-routes" aria-selected="false">Tuyến ưa thích</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="routes-tab" data-bs-toggle="tab" href="#routes" role="tab" aria-controls="routes" aria-selected="false">Tuyến</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="stations-tab" data-bs-toggle="tab" href="#stations" role="tab" aria-controls="stations" aria-selected="false">Trạm dừng</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="route-stations-tab" data-bs-toggle="tab" href="#route-stations" role="tab" aria-controls="route-stations" aria-selected="false">Tuyến - Trạm dừng</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="traffic-reports-tab" data-bs-toggle="tab" href="#traffic-reports" role="tab" aria-controls="traffic-reports" aria-selected="false">Báo cáo giao thông</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="vehicles-tab" data-bs-toggle="tab" href="#vehicles" role="tab" aria-controls="vehicles" aria-selected="false">Phương tiện</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="schedules-tab" data-bs-toggle="tab" href="#schedules" role="tab" aria-controls="schedules" aria-selected="false">Lịch trình</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="statistical-tab" data-bs-toggle="tab" href="#statistical" role="tab" aria-controls="statistical" aria-selected="false">Báo cáo, thống kê</a>
        </li>
    </ul>
</div>
