<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <div th:replace="base :: header"></div>

    <main class="container">

        <form th:action="@{/}">
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" name="kw" placeholder="Từ khóa=" />
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3 mt-3">
                        <input type="text" class="form-control" name="fromPrice" placeholder="Gía min =" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3 mt-3">
                        <input type="text" class="form-control" name="toPrice" placeholder="Gía max =" />
                    </div>

                </div>
            </div>
            <div class="mb-3 mt-3">
                <button class="btn btn-info" type="submit">Tìm kiếm</button>
            </div>
        </form>
        <hr  />    
        <a th:href="@{/products}" class="btn btn-info mt-2">Thêm sản phẩm</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Tên sản phẩm</th>
                    <th>Gía sản phẩm</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p: ${products}">
                    <td>
                        <img th:src="${p.image}" width="200" />
                    </td>
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.price + ' VNĐ'}"></td>
                    <td>
                        <button class="btn btn-danger" th:onclick="'deleteProduct('+'@{/api/products/}'+','+${p.id}+')'">&times;</button>
                        <a th:href="@{'/products/' + ${p.id}}" class="btn btn-success">&#128296;️</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <div th:replace="base :: footer"></div>

    <script th:src="@{/js/main.js}"></script>
</body>
</html>
