<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <!-- Main Layout -->
        <div class="d-flex">
            <!-- Sidebar -->
            <div class="sidebar bg-light sticky-top">
                <div th:replace="fragments/sidebar :: sidebar"></div>
            </div>

            <!-- Main Content -->
            <div class="main-content flex-grow-1 p-3 min-vh-100">
                <div th:replace="fragments/map :: map"></div>

                <h1>Trang Quản Trị</h1>

                <!-- Tabs -->
                <div th:replace="fragments/tabs-link :: tab-links"></div>

                <!-- Tab Content -->
                <div class="tab-content" id="adminTabContent">
                    <div th:replace="fragments/user-tab :: user-tab"></div>
                    <div th:replace="fragments/notification-tab :: notification-tab"></div>
                    <div th:replace="fragments/user-notification-tab :: user-notification-tab"></div>
                    <div th:replace="fragments/route-tab :: route-tab"></div>
                    <div th:replace="fragments/favorite-route-tab :: favorite-route-tab"></div>
                    <div th:replace="fragments/station-tab :: station-tab"></div>
                    <div th:replace="fragments/route-station-tab :: route-station-tab"></div>
                    <div th:replace="fragments/traffic-report-tab :: traffic-report-tab"></div>
                    <div th:replace="fragments/vehicle-tab :: vehicle-tab"></div>
                    <div th:replace="fragments/schedule-tab :: schedule-tab"></div>
                    <div th:replace="fragments/statistical-tab :: statistical-tab"></div>
                </div>

                <!-- Overlay -->
                <div id="overlay">
                    <div class="loader"></div>
                    <div class="progress-container">
                        <div class="progress-bar" id="progressBar"></div>
                    </div>
                </div>

            </div>
        </div>

        <!-- JavaScript -->
        <script th:inline="javascript">
            /*<![CDATA[*/
            window.top5FavoriteRoutesJson = /*[[${top5FavoriteRoutesStatsJson}]]*/ '[]';
            window.vehicleStatusStatsJson = /*[[${vehicleStatusStatsJson}]]*/ '{}';
            window.trafficReportStatsJson = /*[[${trafficReportStatsJson}]]*/ '{}';
            const listNotificationNames = [[${listNotificationNames}]];
            const listUserFullnames = [[${listUserFullnames}]];
            const listRouteNames = [[${listRouteNames}]];
            const listStationNames = [[${listStationNames}]];
            const listVehicleNames = [[${listVehicleNames}]];
            /*]]>*/
        </script>
        <script th:src="@{/js/main.js}" type="module"></script>
    </body>
</html>
